# Object files
*.slo
*.lo
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ROS specific directories
build/
bin/
lib/

# Other ROS stuff
CATKIN_IGNORE*

# Eclipse stuff
.pydevproject
.project
.cproject

# Roboguide / Fanuc
*.pc
*.tp

# ROS MoveIt
default_warehouse_mongo_db/
