sudo: required
dist: trusty
language: generic

notifications:
  email:
    on_failure: always
    recipients:
     - g.a.vanderhoorn@tudelft.nl

env:
  matrix:
    - ROS_DISTRO="indigo" ROS_REPO=ros
    - ROS_DISTRO="indigo" ROS_REPO=ros-shadow-fixed

install:
  - git clone https://github.com/ros-industrial/industrial_ci.git .ci_config

script:
  - .ci_config/travis.sh
