<?xml version="1.0"?>
<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for LR Mate 200iC/5HS:
   - J23_factor = 1
   - use_bswap = true
   - 5 joints

  Usage:
    robot_interface_streaming_lrmate200ic5hs.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" doc="IP of controller" />
  <arg name="J23_factor" default="1" doc="Compensation factor for joint 2-3 coupling (-1, 0 or 1)" />
  <arg name="use_bswap" default="true" doc="If true, robot driver will byte-swap all incoming and outgoing data" />

  <rosparam command="load" file="$(find fanuc_lrmate200ic_support)/config/joint_names_lrmate200ic5hs.yaml" />

  <include file="$(find fanuc_driver)/launch/robot_interface_streaming.launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
    <arg name="J23_factor" value="$(arg J23_factor)" />
    <arg name="use_bswap"  value="$(arg use_bswap)" />
  </include>
</launch>
