<launch>
    <include file="$(find M16iB20_arm_navigation)/launch/M16iB20_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="M16iB20_manipulator_kinematics">
        <param name="group" type="string" value="manipulator" />
        <param name="manipulator/root_name" type="string" value="base_link" />
        <param name="manipulator/tip_name" type="string" value="link_6" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
